body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Arahkan konten ke arah kolom */
  height: 100vh;
  background: linear-gradient(to right bottom, #36d1dc, #5B86E5);
  color: #fff;
  overflow: hidden; /* Hindari pergeseran horizontal saat animasi */
}

.container {
  text-align: center;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: moveText 2s infinite alternate; /* Tambahkan animasi */
}

@keyframes moveText {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}

#taskList {
  margin-top: 20px;
}

.task {
  background-color: #5dabd8;
  border: 1px solid #2651a1;
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.task:hover {
  transform: scale(1.02);
}

#taskInput {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #5B86E5;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #364FC7;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Arahkan konten ke arah kolom */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
}

#app-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px; /* Sesuaikan jarak antara ikon dan judul */
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

#app-icon:hover {
  transform: scale(1.2);
}

h1 {
  color: #ffffff;
}
